 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f4f4f4;
}

header {
    background: orange;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background: orange;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background: orange;
    color: white;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    border-left: 5px solid orange;
}

.card h2 {
    color: orange;
    margin-bottom: 5px;
}

.voltar {
    display: inline-block;
    margin-bottom: 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.voltar:hover {
    color: orange;
}